

/* Custom fonts */
@font-face { font-family: Simsun; unicode-range: U+2E80-FFFF; src: local(Microsoft Yahei), local(WenQuanYi Zen Hei), local(Hiragino Sans GB), local(Noto Sans); }
@font-face { font-family: Simsun; unicode-range: U+0-2E7F; src: local(Segoe UI); }
@font-face { font-family: Tahoma; unicode-range: U+2E80-FFFF; src: local(Microsoft Yahei), local(WenQuanYi Zen Hei), local(Hiragino Sans GB), local(Noto Sans); }
@font-face { font-family: Tahoma; unicode-range: U+0-2E7F; src: local(Tahoma); }
@font-face { font-family: Tahoma; font-weight: bold; unicode-range: U+2E80-FFFF; src: local(Microsoft Yahei), local(WenQuanYi Zen Hei), local(Hiragino Sans GB), local(Noto Sans); }
@font-face { font-family: Tahoma; font-weight: bold; unicode-range: U+0-2E7F; src: local(Tahoma); }
@font-face { font-family: SimHei; unicode-range: U+2E80-FFFF; src: local(Microsoft Yahei), local(WenQuanYi Zen Hei), local(Hiragino Sans GB), local(Noto Sans); }
@font-face { font-family: SimHei; unicode-range: U+0-2E7F; src: local(Segoe UI); }

body{
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", "Noto Sans", sans-serif;
}

#adbar{
	display: none;
}
#post-backup{
	border-color: #417CAA;
}
.sigfastre {
	background: url(../../template/qshpan/image/fastreply.gif) no-repeat 0 50%;
	font-style: normal;
}

#i-reply-sig{
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", "Noto Sans", sans-serif;
}